@use "sass:list";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-y: hidden;
        height: 100vh;
    }
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 10px;
}

.error_container {
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    pointer-events: none;
    z-index: 2;
}

.error {
    background: red;
    border-radius: 10px;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    padding: 10px 15px;
    animation: errorAnimation 5s ease-in-out forwards;

    &::before {
        font: var(--fa-font-solid);
        content: "\f06a";
        color: white;
    }
}

.success {
    background: green !important;
}

.placeholder {
    position: absolute;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    animation: loading 1s infinite;
    z-index: 45;
    display: block !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
}

.load_container {
    position: relative;
    border-radius: 5px !important;
    background: lightgrey;
    display: block !important;
    border: none !important;
    overflow: hidden;
}

.chat {
    position: absolute;
    background: white;
    padding: 0 20px;
    right: 100px;
    bottom: 20px;
    width: 0;
    height: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    z-index: 3;
    border-radius: 10px;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;

    &.visible {
        width: 400px;
        height: 80vh;
        overflow: auto !important;
    }

    >div:first-of-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        padding: 20px 0;
        background: white;

        >p {
            font-size: 18px;
            font-weight: bold;

            &::before {
                font: var(--fa-font-regular);
                content: "\f7d4";
                margin-right: 5px;
                background: linear-gradient(135deg, #8A2BE2, #4E9FFF, #00D4FF);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                display: inline-block;
            }

            &::after {
                margin-left: 10px;
                content: "Powered by Gemini 2.5 Flash";
                color: grey;
                font-size: 10px;
                font-weight: normal;
            }
        }

        i {
            cursor: pointer;
        }
    }

    ul,
    ol {
        margin-left: 25px;
        font-size: 12px;
    }

    >div:not(:first-of-type) {
        display: flex;
        gap: 10px;
        line-height: 1.3;

        .text {
            font-size: 14px;
            max-width: 250px;
            padding: 5px 10px;
            border-radius: 10px;
            border: 1px solid grey;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            animation: appear 0.2s ease-in-out;
        }

        &.user {
            margin-left: auto;

            .text {
                color: white;
                background: linear-gradient(to right, #023151, #c8421c);
                transform-origin: top right;
            }

            &[data-empty="true"]::after {
                content: "\f007";
                font: var(--fa-font-solid);
                color: grey;
                font-size: 12px;
            }

            &::after {
                content: "";
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: var(--before-background) center/cover no-repeat;
            }
        }

        &.ai {
            .text {
                transform-origin: top left;
                background: linear-gradient(to bottom right, #8A2BE2, #4E9FFF);
                color: white;
                display: flex;
                flex-direction: column;
                gap: 10px
            }

            &::before {
                height: max-content;
                font: var(--fa-font-regular);
                content: "\f7d4";
                margin-right: 5px;
                background: linear-gradient(135deg, #8A2BE2, #4E9FFF, #00D4FF);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                display: inline-block;
            }
        }

        li+li {
            margin-top: 5px;
        }
    }

    section {
        position: sticky;
        bottom: 10px;
        margin-top: auto;
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

    input {
        position: sticky;
        bottom: 10px;
        padding: 8px 10px;
        outline: none;
        border: 1px solid lightgrey;
        border-radius: 10px;
        width: 100%;
    }

    button {
        flex-shrink: 0;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        outline: none;
        border: 1px solid lightgrey;
        cursor: pointer;
        background: white;
        overflow: hidden;

        &::before {
            font: var(--fa-font-regular);
            content: "\f1d8";
            color: grey;
        }

        &:hover {
            color: black;
            border: 1px solid black;

            &::before {
                background: linear-gradient(135deg, #8A2BE2, #4E9FFF, #00D4FF);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                display: inline-block;
                animation: fly 1s infinite;
            }
        }
    }

    .suggestion {
        grid-template-columns: 1fr 1fr;
        display: grid !important;
        gap: 10px;
        margin: auto 30px 100px 30px !important;
        font-size: 11px;

        $colors: red, blue, green, purple;

        @for $i from 1 through list.length($colors) {
            p:nth-child(#{$i}) {
                cursor: pointer;
                margin: 0 !important;
                padding: 5px 10px;
                border-radius: 10px;
                border: 1px solid list.nth($colors, $i);
            }
        }
    }

    >div:last-of-type:not(:first-of-type) {
        margin-bottom: 70px;
    }
}

.ai_icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;

    &::after {
        font: var(--fa-font-regular);
        content: "\f7d4";
        font-size: 24px;
        background: linear-gradient(135deg, #8A2BE2, #4E9FFF, #00D4FF);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        display: inline-block;
    }
}

.error_page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: auto;
    align-items: center;
    background: white;
    height: 100vh;

    &:has(+ footer) {
        height: 100% !important;
    }

    p {
        font-size: 18px;
        text-align: center;
    }

    pre {
        color: red;
    }
}

@keyframes loading {
    0% {
        left: -45%;
    }

    100% {
        left: 100%;
    }
}

@keyframes appear {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes fly {
    0% {
        translate: -200% 200%;
    }

    50% {
        translate: 0 0;
    }

    75% {
        translate: 0 0;
    }

    100% {
        translate: 200% -200%;
    }
}

@keyframes errorAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px)
    }

    5% {
        opacity: 1;
        transform: translateY(0)
    }

    95% {
        opacity: 1;
        transform: translateY(0)
    }

    100% {
        opacity: 0;
        transform: translateY(-10px)
    }
}

@media screen and (max-width: 800px) {
    .error_container {
        width: 80vw;
    }
}

@media screen and (max-width: 500px) {
    .chat {
        bottom: 80px;
        right: 0;
        width: 100vw !important;

        .text {
            width: 70%;
            font-size: 10px !important;

            ol, ul {
                margin-left: 15px;
            }
        }
    }
}

@media screen and (max-width: 250px) {

    body *:not(main),
    main * {
        display: none !important;
    }

    main::before {
        content: "We are unable to display this page on your screen as is too small";
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        text-align: center;
    }
}