@use "sass:list";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-y: hidden;
        height: 100vh;
    }
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background: #c4c4c4;
    border-radius: 10px;
}

.error_container {
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    pointer-events: none;
    z-index: 5;
}

.error {
    background: red;
    border-radius: 10px;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    padding: 10px 15px;
    animation: errorAnimation 5s ease-in-out forwards;

    &::before {
        font: var(--fa-font-solid);
        content: "\f06a";
        color: white;
    }
}

.success {
    background: green !important;
}

.placeholder {
    position: absolute;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    animation: loading 1s infinite;
    z-index: 45;
    display: block !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
}

.load_container {
    position: relative;
    border-radius: 5px !important;
    background: lightgrey;
    display: block !important;
    border: none !important;
    overflow: hidden;
}

.error_page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: auto;
    align-items: center;
    background: white;
    height: 100vh;

    &:has(+ footer) {
        height: 100% !important;
    }

    p {
        font-size: 18px;
        text-align: center;
    }

    pre {
        color: red;
    }
}

@keyframes loading {
    0% {
        left: -45%;
    }

    100% {
        left: 100%;
    }
}

@keyframes appear {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes errorAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px)
    }

    5% {
        opacity: 1;
        transform: translateY(0)
    }

    95% {
        opacity: 1;
        transform: translateY(0)
    }

    100% {
        opacity: 0;
        transform: translateY(-10px)
    }
}

@media screen and (max-width: 800px) {
    .error_container {
        width: 80vw;
    }
}

@media screen and (max-width: 500px) {
    .chat {
        bottom: 80px;
        right: 0;
        width: 100vw !important;

        .text {
            width: 70%;
            font-size: 10px !important;

            ol, ul {
                margin-left: 15px;
            }
        }
    }
}

@media screen and (max-width: 250px) {

    body *:not(main),
    main * {
        display: none !important;
    }

    main::before {
        content: "We are unable to display this page on your screen as is too small";
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        text-align: center;
    }
}