.login {
    display: flex;
    width: 100%;

    .bg {
        background: url(/login.webp) center/cover no-repeat;
        width: 70%;
        flex-shrink: 0;
        padding: 10px;
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 0));
        -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 0));
    }

    div {
        width: 30%;
        display: flex;
        flex-direction: column;
        padding: 40px;
        gap: 10px;
        align-items: center;
    }

    img {
        user-select: none;
        height: 130px;
        width: 100%;
        object-fit: contain;
        padding-bottom: 10px;
        margin-bottom: 50px;
    }

    button {
        padding: 8px 10px;
        border-radius: 10px;
        border: none;
        background: #ececec;
        font-size: 14px;
        cursor: pointer;

        i {
            margin-right: 10px;
        }
    }

    p {
        font-size: 13px;
        color: black;
        text-align: center;
        cursor: pointer;
    }

    @media screen and (max-width: 800px) {
        div:not(.bg) {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            min-height: 50vh;
            border-radius: 20px;
            transform: translate(-50%, -50%);
            background: rgba(255, 255, 255, 0.8);
            padding: 30px;
        }

        .bg {
            width: 100%;
            padding: 0 !important;
            mask-image: none;
            -webkit-mask-image: none;
        }

        img {
            margin-bottom: 30px;
        }
    }
}