.login {
    display: flex;
    width: 100%;

    .bg {
        background: url(/login.png) center/cover no-repeat;
        width: 70%;
        flex-shrink: 0;
        padding: 10px;
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 0));
        -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 0));
    }

    .content {
        width: 30%;
        display: flex;
        flex-direction: column;
        padding: 40px;
        gap: 10px;
        align-items: center;
    }

    img {
        user-select: none;
        height: 80px;
        width: 100%;
        object-fit: contain;
        padding-bottom: 10px;
        margin-bottom: 50px;
    }

    button {
        padding: 10px 20px;
        border-radius: 20px;
        border: none;
        background: linear-gradient(to right, blue, rgb(124, 39, 228));
        font-size: 14px;
        cursor: pointer;
        display: flex;
        color: white;
        align-items: center;
        gap: 10px;
    }

    p {
        font-size: 13px;
        color: black;
        text-align: center;
        cursor: pointer;
    }

    .instruction, .tip {
        padding: 12px 15px;
        width: 100%;
        border-radius: 10px;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 10px;
    } 

    .tip {
        border: 2px solid orange;
        background: rgb(243, 207, 140);
    }

    .instruction {
        margin-top: auto;
        border: 2px solid #82b1eb;
        background: rgba(134, 134, 248, 0.2);
    }

    @media screen and (max-width: 800px) {
        .content {
            overflow: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            max-height: 90vh;
            min-height: 50vh;
            border-radius: 20px;
            transform: translate(-50%, -50%);
            background: rgba(255, 255, 255, 0.8);
            padding: 30px;
        }

        .bg {
            width: 100%;
            padding: 0 !important;
            mask-image: none;
            -webkit-mask-image: none;
        }

        img {
            width: 180px;
            margin-bottom: 30px;
        }
    }
}