.pairing_container {
	display: flex;
	flex-direction: column;
	overflow: auto;
	padding: 0 20px 10px 20px;

	.pair {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 150px 1fr;
		justify-content: space-between;
		gap: 10px;
		align-items: center;
		padding: 10px;
		position: relative;

		&:not(:last-of-type) {
			border-bottom: 1px solid black;
		}

		.pair_info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 5px;
			font-size: 13px;

			p:last-of-type {
				padding: 3px 8px;
				font-weight: bold;
				background: lightgrey;
				border-radius: 20px;
			}
		}

		div>i {
			font-size: 40px;
			margin-bottom: 10px;
		}

		>div:nth-of-type(1) {
			grid-column: span 3;
			align-items: center;
			gap: 10px;
			display: flex;

			span {
				display: flex;
				align-items: center;
				gap: 5px;
				padding: 5px 10px;
				background: lightgrey;
				border-radius: 10px;
				font-size: 13px;
				cursor: pointer;

				&:first-of-type {
					margin-left: auto;
				}

				&:last-of-type {
					color: white;
					background: rgb(235, 0, 0);
				}
			}
		}

		#end_date {
			font-size: 12px;
		}
	}
}

@media screen and (max-width: 800px) {
	.pair {
		grid-template-columns: 1fr !important;
		gap: 10px;

		>div:first-of-type {
			grid-column: span 1 !important;
			margin-left: auto;
		}
	}
}