.profile_page {
    display: flex;
    gap: 20px;
    overflow: auto;

    .action_bar {
        width: 250px;
        display: flex;
        padding: 20px;
        position: relative;
        flex-direction: column;

        p {
            cursor: pointer;
            height: 40px;
            user-select: none;
            display: flex;
            align-items: center;
            border-left: 1.5px solid #b5b5b5;
            padding-left: 20px;
            transition: color 0.2s ease-in-out;
            color: #b5b5b5;

            &.selected {
                color: rgb(124, 39, 228);
            }

            &::before {
                font: var(--fa-font-regular);
                margin-right: 10px;
                font-size: 12px;
            }

            &:nth-of-type(1)::before {
                content: "\f007";
            }

            &:nth-of-type(2)::before {
                content: "\f19d";
            }

            &:nth-of-type(3)::before {
                content: "\f559";
            }
        }

        .selector {
            position: absolute;
            width: 1px;
            top: 20px;
            background: rgb(124, 39, 228);
            height: 40px;
            transition: transform 0.2s ease-in-out;
        }
    }
}

.profile_container {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    flex: 1;

    &::-webkit-scrollbar {
        display: none;
    }

    > form, > div:not(:first-of-type) {
        opacity: 0;
        animation: fadeUp .2s ease-out forwards;
    }

    .profile_info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        >p:first-of-type {
            font-weight: bold;
            font-size: 22px;
        }

        >p:last-of-type {
            font-weight: normal;
            color: #b5b5b5;
            font-size: 14px;
        }
    }

    .container {
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        background: linear-gradient(to bottom, white 80%, rgba(134, 134, 248, 0.2));
    }

    .profile_form {
        display: grid;
        gap: 10px;
        animation-delay: 0.2s;
        grid-template-columns: 1fr 1fr;

        h2 {
            grid-column: span 2;
        }

        p,
        label {
            font-size: 11px;
        }

        div:has(input[type="radio"]) {
            display: flex;
            gap: 5px;
        }

        input,
        input[type="radio"]+label {
            padding: 8px 10px;
            outline: none;
            border: 1px solid lightgrey;
            transition: all 0.2s ease-in-out;

            &[type='text'] {
                border-radius: 10px;
                height: max-content;
            }

            &[type='radio'] {
                display: none;

                +label {
                    cursor: pointer;
                    border-radius: 10px;
                    font-size: 13px;
                }

                &:checked+label {
                    color: white;
                    background: linear-gradient(to right, blue, rgb(124, 39, 228));
                }
            }
        }
    }

    .rating {
        display: flex;
        gap: 5px;
        font-size: 14px;

        i {
            color: rgb(216, 175, 42);
        }
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 17px;
    }

    div div:has(> input) {
        display: flex;
        gap: 5px;
    }

    .profile-picture {
        border: 2px solid lightgrey;
        border-radius: 50%;
        width: 100px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        &[data-empty="true"]::before {
            content: "\f007";
            font: var(--fa-font-solid);
            color: lightgrey;
            font-size: 45px;
        }
    }

    button {
        padding: 8px 10px;
        margin-left: auto;
        margin-top: 10px;
        border-radius: 20px;
        border: none;
        grid-column: span 2;
        cursor: pointer;
        color: white;
        background: linear-gradient(to right, blue, rgb(124, 39, 228));
        min-width: 100px;

        &#delete {
            background-color: rgb(235, 0, 0);
            color: white;
            margin-top: 0;
        }
    }

    .proficiency_container {
        display: grid;
        grid-template-columns: 1fr 300px;
        animation-delay: 0.4s !important;
        gap: 10px;

        h2 {
            grid-column: span 2;
        }
    }

    .modules_container {
        display: flex;
        flex-direction: column;
        gap: 5px;
        grid-row: span 2;
        width: fit-content;
        overflow-y: auto;
        max-height: 85vh;
        position: relative;

        &::-webkit-scrollbar {
            display: none;
        }

        .modules_tip {
            z-index: 3;
            position: sticky;
            top: 0;
            border: 2px solid orange;
            padding: 8px;
            height: 50px;
            border-radius: 10px;
            background: rgb(243, 207, 140);
            font-size: 13px;
            display: flex;
            align-items: center;
            gap: 10px;

            i {
                font-size: 18px;
            }
        }

        .modules_search {
            z-index: 3;
            position: sticky;
            background: white;
            padding: 10px;
            top: 55px;
            border: 1px solid #b5b5b5;
            border-radius: 20px;

            input {
                border: none;
                outline: none;
                background: transparent;
            }
        }
    }

    .module {
        padding: 15px;
        user-select: none;
        border-radius: 10px;
        border: 2px solid #f5f5f5;
        display: flex;
        cursor: grab;
        gap: 8px;
        flex-direction: column;
        transition: all 0.2s ease-in-out;

        i {
            background: rgba(223, 225, 239, 0.7);
            aspect-ratio: 1;
            width: 25px;
            color: grey;
            font-size: 14px;
            display: flex;
            margin-bottom: 5px;
            justify-content: center;
            align-items: center;
            padding: 5px;
            border-radius: 50%;
        }

        &:active {
            cursor: grabbing;
            transform: scale(0.97);
            opacity: 0.75;
        }

        p {
            font-size: 18px;
            font-weight: bold;
        }

        >span {
            font-size: 0.85rem;
        }

        .module_tags {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            margin-top: 5px;

            span {
                font-size: 10px;
                color: white;
                background: #03a157;
                padding: 5px 10px;
                border-radius: 20px;

                &::before {
                    font: var(--fa-font-regular);
                    content: "\f02b";
                    margin-right: 5px;
                }
            }
        }

        &:hover {
            background: linear-gradient(to bottom, white 80%, rgba(134, 134, 248, 0.2));
            border: 2px solid #82b1eb;
        }
    }

    .drag_over {
        background: rgba(130, 177, 235, 0.12);
        border-color: #82b1eb;
        border-style: dashed;
        border-radius: 20px;
        box-shadow: 0 0 0 3px rgba(130, 177, 235, 0.2);
        position: relative;
        transition: all 0.2s ease-in-out;
        
        * {
            filter: blur(10px);
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 20px !important;
            transform: translate(-50%, -50%);
            font: var(--fa-font-regular);
            content: "\f310";
        }

        &::after {
            position: absolute;
            top: 60%;
            font-weight: bold;
            left: 50%;
            font-size: 20px !important;
            transform: translate(-50%, -50%);
            content: "Drop Here";
        }
    }

    .proficiency_group {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &:last-of-type {
            margin-top: 20px;
        }

        .module {
            max-height: 150px;
        }
    }

    .profile_proficiency {
        padding-top: 10px;
        font-size: 13px;
        height: 100%;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        .module {
            max-width: 180px;
            width: 100%;
        }

        select {
            padding: 5px 8px;
            display: flex;
            gap: 15px;
            appearance: none;
            align-items: center;
            width: max-content;
            border: none;
            outline: none;
            background: #b5b5b5;
            border-radius: 20px;
            cursor: pointer;
        }
    }

    .achievements_container_outer {
        display: grid;
        margin-bottom: 20px;
        animation-delay: 0.6s;
        grid-template-columns: 1fr max-content;
        gap: 10px;

        h2 {
            grid-column: span 2;
        }
    }

    .achievement_data {
        display: flex;
        width: 200px;
        flex-direction: column;
        gap: 20px;

        p:nth-of-type(1) {
            font-size: 14px;
            color: #b5b5b5;
        }

        .easy {
            color: green;
        }

        .medium {
            color: orange;
        }

        .hard {
            color: red;
        }
    }

    .achievements_container {
        display: flex !important;
        flex-wrap: wrap;
        min-height: 200px;
        gap: 10px;

        .achievement {
            width: 120px;
            height: fit-content;
            aspect-ratio: 1 / 1;
            display: flex;
            background: #f5f5f5;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 10px;
            clip-path: polygon(25% 6.7%, 75% 6.7%,
                    100% 50%,
                    75% 93.3%, 25% 93.3%,
                    0% 50%);
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }

            img {
                width: 60px;
                aspect-ratio: 1;
                object-fit: contain;

                &.not-attained {
                    filter: grayscale(1);
                }
            }
        }
    }

    #delete_container {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 14px;
        }

        input {
            accent-color: black;
        }
    }

    @media screen and (max-width: 500px) {
        form>div {
            grid-template-columns: 1fr;

            label {
                grid-column: span 1 !important;
            }
        }
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}