.register {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;

    .bg {
        background: url(/register.png) center/cover no-repeat;
        padding: 10px;
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 0));
        -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 0));
    }

    img {
        user-select: none;
        height: 80px;
        width: 100%;
        object-fit: contain;
        padding-bottom: 10px;
        margin-bottom: 50px;
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 40px;
        gap: 10px;

        input {
            width: 100%;
            border: none;
            font-size: 14px;
            background: transparent;
            outline: none;
            padding: 10px;
            border-radius: 10px;
            background: #f5f5f5;

            &[type="radio"] {
                display: none;

                &:checked+label {
                    background-color: #5227ff;
                    color: white;
                }

                &+label {
                    font-size: 13px;
                    font-weight: normal;
                    border-radius: 20px;
                    padding: 8px 20px;
                    color: grey;
                    background: #f5f5f5;
                    cursor: pointer;
                    transition: background-color 0.2s ease-in-out;
                }
            }
        }

        div {
            display: flex;
            gap: 10px;
            align-items: center;
            margin-bottom: 10px;
        }

        label,
        p {
            font-size: 16px;
            font-weight: bold;
        }

        p {
            margin-top: 10px;
        }

        button {
            padding: 5px 20px;
            border-radius: 20px;
            border: 2px solid #d3d3d3;
            background: #ececec;
            transition: all 0.2s ease-in-out;
            font-size: 14px;
            cursor: pointer;
            width: max-content;
            margin-left: auto;

            &:hover {
                background: #5227ff;
                color: white;
                border: 2px solid #5227ff;
            }
        }
    }

    .error {
        color: red;
        font-size: 12px;
        font-weight: normal;

        &::before {
            font: var(--fa-font-regular);
            content: '\f06a';
            margin-right: 5px;
        }
    }
}

@media screen and (max-width: 800px) {
    .register {
        .bg {
            width: 100%;
            padding: 0 !important;
            mask-image: none;
            -webkit-mask-image: none;
        }

        form {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            border-radius: 20px;
            transform: translate(-50%, -50%);
            background: rgba(255, 255, 255, 0.8);
            padding: 30px;
        }

        img {
            margin-bottom: 30px;
        }
    }
}