.register {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;

    .bg {
        background: url(/login.webp) center/cover no-repeat;
        padding: 10px;
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 0));
        -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 93%, rgba(0, 0, 0, 0));
    }

    form {
        display: flex;
        flex-direction: column;
        padding: 40px;
        gap: 10px;

        input {
            flex: 1;
            width: 100%;
            padding: 5px 0;
            border: none;
            font-size: 14px;
            background: transparent;
            outline: none;

            &[type="radio"] {
                display: none;

                &:checked+label {
                    background: lightgrey;
                }

                &+label {
                    background: transparent;
                    text-align: center;
                    padding: 3px 8px;
                    border-radius: 10px;
                    border: 1px solid black;
                    cursor: pointer;
                    font-size: 13px;
                }
            }
        }

        div {
            display: flex;
            gap: 10px;
            align-items: center;
            border-bottom: 1px solid black;

            &:has(input[type="radio"]) {
                border-bottom: none;
            }
        }

        label,
        p {
            font-size: 16px;
            font-weight: bold;
        }

        img {
            user-select: none;
            height: 130px;
            object-fit: contain;
            user-select: none;
            padding-bottom: 10px;
            margin-bottom: 50px;
        }

        button {
            padding: 8px 30px;
            border-radius: 10px;
            border: 1px solid #d3d3d3;
            background: #ececec;
            font-size: 14px;
            cursor: pointer;
            width: max-content;
            margin-left: auto;
        }

        span {
            font-size: 13px;
            cursor: pointer;
            margin-left: auto;
        }
    }
}

@media screen and (max-width: 800px) {
    .register {
        .bg {
            width: 100%;
            padding: 0 !important;
            mask-image: none;
            -webkit-mask-image: none;
        }

        form {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 80%;
            border-radius: 20px;
            transform: translate(-50%, -50%);
            background: rgba(255, 255, 255, 0.8);
            padding: 30px;
        }

        img {
            margin-bottom: 30px;
        }
    }
}