.request_form {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    overflow: auto;
}

.request_form h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.request_form p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

.request_form > div {
    padding: 15px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.request_form h2:not(:first-of-type) {
    margin-top: 20px;
}

.request_form .day,
.request_form .time {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
}

.request_form .time {
    margin-top: 10px;
}

.request_form .time p:last-of-type {
    font-size: 13px;
    color: grey;
    user-select: none;
}

.request_form .day input {
    display: none;
}

.request_form .day input+label {
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    min-width: 80px;
    padding: 5px 0;
}

.request_form .day input:checked+label {
    background: lightgrey;
}

.request_form input[type='time'], .request_form input[type='date'] {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 14px;
}

.request_form button {
    grid-row: 3;
    grid-column: 2;
    padding: 5px 10px;
    margin-left: auto;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    min-width: 100px;
}

.request_form .module {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    min-width: 120px;
}

.request_form .module input {
    display: none;
}

.request_form .module input+label {
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    flex-direction: column;
    font-size: 12px;
    border: 1px solid black;
}

.request_form .module input:checked+label {
    background: lightgrey;
}

@media screen and (max-width: 400px) {
    .request_form .time {
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }

    .request_form .time p, .request_form .time label {
        font-weight: bold;
    }

    .request_form .time label {
        margin-top: 10px;
    }

    .request_form .time p:nth-of-type(2) {
        margin-top: 10px;
    }

    .request_form .time input {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    .request_form {
        grid-template-columns: 1fr !important;
    }

    .request_form button {
        grid-row: unset;
        grid-column: 1;
    }
}