.student_info {
    display: flex;
    gap: 15px;
    user-select: none;
    overflow: hidden;
    align-items: center;

    img {
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        object-fit: cover;
        border: 1px solid black;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    div:not(div[data-placeholder]) {
        display: flex;
        flex: 1;
        flex-direction: column;
        min-width: 0;
        gap: 5px;
    }

    p:nth-of-type(1) {
        font-size: 20px;
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &::after {
            content: "(Y" attr(data-year) ")";
            font-weight: normal;
            font-size: 12px;
            color: grey;
            margin-left: 10px;
            vertical-align: middle;
        }
    }

    p:not(:nth-of-type(1)),
    a {
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-decoration: none;
        color: black;
    }

    .rating {
        font-size: 13px;

        span {
            margin-left: 5px;
            letter-spacing: 1px;
        }
    }

    .no_image {
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        border: 1px solid black;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        color: lightgrey;

        &::before {
            content: "\f007";
            font: var(--fa-font-solid);
        }
    }
}